.c-linkForm {
	display: block;
	max-width: 900px;
	width: 100%;

	margin-bottom: 50px;
}
.c-linkForm__row {
	display: block;
	width: 100%;
	margin-bottom: 20px;

	@include display-flex;
	@include justify-content(flex-start);
}

%c-linkForm__input {
	height: 40px;
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
	outline: none;
	@include box-shadow(2px 2px 2px rgba(0,0,0,0.3));
}

.c-linkForm__inputBlock {
	display: inline-block;
	margin-left: 20px;
	padding-left: 10px;

	&:first-child {
		margin-left: 0;
	}
}

.c-linkForm__label {
	margin-right: 10px;
	margin-bottom: 5px;
	display: inline-block;
}

.c-linkForm__link {
	@extend %c-linkForm__input;
	@include flex-grow(1);
}

.c-linkForm__slug {
	@extend %c-linkForm__input;
	@include flex-grow(1);
	max-width: 300px;
}

.c-linkForm__expiry {
	@extend %c-linkForm__input;
	background-color: white;
}

.c-linkForm__submit {
	border: none;
	border-radius: 3px;
	@include box-shadow(2px 2px 2px rgba(0,0,0,0.3));
	outline: none;
	background-color: #d138e8;
	color: white;
	font-weight: $font-weight-bold;
	font-family: $font-merriweather;
	font-size: 20px;
	padding: 0 20px;
	font-style: italic;
	margin-left: 20px;

	&:active {
		position: relative;
		top: 2px;
		@include box-shadow(none);
	}
}